<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tute.server.dao.InitMapper">
    <cache/>

    <select id="getCardsInfo" resultType="cn.edu.tute.entities.Card">
        select `name`,`type`,`title`,`url`
        from card;
    </select>

    <!--<resultMap id="cardsInfo" type="cn.edu.tute.entities.CardsInfo">-->
        <!--<collection property="cards" ofType="cn.edu.tute.entities.Card">-->
            <!--<result column="name" property="name"/>-->
            <!--<result column="type" property="type"/>-->
            <!--<result column="title" property="title"/>-->
            <!--<result column="url" property="url"/>-->
        <!--</collection>-->
    <!--</resultMap>-->
</mapper>